body
{
    background-color: rgb(33, 32, 36);
    margin: 0;
}
nav
{
    position: sticky;
    top: 0;
}
nav ul 
{
    list-style-type: none;
    display: flex;
    justify-content: end;
    
    
}
nav ul li button 
{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 2px transparent groove;
    background-color: transparent;
    color: white;
}
nav ul li button:hover
{
    border-color: skyblue;
    border-width: 2px;
}





/*
nav ul li button a 
{
    text-decoration: none;
    color: black;
}
#home
{
    color:white;
    padding: 80px;
    display: inline-flex;
}
#name
{
   color: blueviolet;
   font-size: xx-large;
}
#img img
{
    border-radius: 30%;
    margin-left: 460px;
    border-style:groove;
    border-color: skyblue;
    padding: 10px;

}
#About-Section
{
    color: white;
    height: auto;
    width: 600px;
    text-align: center;
    margin-left: 500px;
    border-radius: 50px;
    border-style: solid;
    border-color: purple;
    padding: 20px;

}

#About-Section:hover
{
    background-color:rgb(81, 0, 81);
}

#Education-Section li
{
    color: blueviolet;
}
#Education-Section
{
    color:skyblue;
}
#Education-Section ul li p
{
    color:white;
}
#Skills-Section
{
    color: white;
    border-radius: 10px;
    border-color: blueviolet;
    border-style: solid;
    display: inline-block;
    margin: 20px;
    padding: 20px;
    margin-left: 150px;
    width: 160px;
}
#Skills-Section:hover
{
    background-color: rgb(49, 7, 90);
}
#Certificate-Section
{
    display: inline-block;
    border-radius: 10px;
    border-style: solid;
    border-color: aqua;
    margin: 20px;
    padding: 20px;
    color: white;
    
}
#Certificate-Section:hover
{
    background-color:rgb(4, 91, 91);
}
#Skills-Section
{
    display: inline;
}
#Contact-Section
{
    background-color: rgb(33, 44, 49);
    display: inline-block;
    width: 700px;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    margin-left: 200px;
    color: white;
}
#Contact-Section h3
{
    color: skyblue;
}

#Project-Section
{
    color: white;
    width: 80%;
    margin: 10px;
    padding: 10px;
    margin-left: 10%;
    border-radius: 20px;
    padding-left: 30px;
    border-style: solid;
    border-color: green;
}
#Project-Section p
{
    width: 80%;
    padding-left: 20px;
}
#Project-Section li
{
    font-size: x-large;
    color: white;
}
#Project-Section p a
{
    text-decoration: none;
    color: cornflowerblue;
    padding-left: 20px;
}
#Project-Section:hover
{
    
    background-color: rgb(10, 56, 6);
} */

#arrow-to-top
{
    position: sticky;
    bottom: 0;
    right: 0;
}